@{
    ViewData["Title"] = "Home Page";
}



<!-- Add a button to navigate to the Items Index page -->
<div class="text-center">
    <h2>Welcome to the Home Page</h2>
    <a asp-controller="Items" asp-action="Index" class="btn btn-primary">Go to Items</a>
</div>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
